.App {
    display: grid;
    width: 100%;
    height: 100vh;
}

.blackjack-game {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

button {
    border-radius: 5px;
    background-color: white;
    padding: 0.5rem 1rem;
    box-shadow: none;
    outline: none;
    border: solid 1px #222
}

.main {
    display: grid;
    width: 100%;
    min-height: 100vh;
    place-items: center;
    background-color: green;
}

ul {
    display: grid;
    grid-auto-flow: column;
    gap: 0px;
    justify-content: center;
    transform-style: preserve-3d;
}

ul li.card {
    list-style-type: none;
    width: 100px;
    height: 180px;
    background-position: center center;
    background-size: 70px;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    background-clip: padding-box;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px 5px #22222250;
    transform: rotateX(50deg) rotateZ(20deg) rotateY(0deg);
    margin-left: -50px;
}

.cardsDeck ul {
    grid-auto-flow: row;
    margin-bottom: 250PX;
}

.facedownCard.card {
    margin-bottom: -223px;
    box-shadow: 0px 0px 1px 1px #222;
    background-image: url('../assets/flag.png');
    background-size: cover;
    border-width: 2px;
    border-color: white;
}

ul li h2 {
    line-height: 1;
    margin: 0;
}

li.spades {
    background-image: url("./assets/spade.svg");
}

li.clubs {
    background-image: url("./assets/clubs.svg");
}

li.diamonds {
    background-image: url("./assets/diamonds.svg");
}

li.hearts {
    background-image: url("./assets/heart.svg");
}

button {
    font-size: calc(10px + 2vmin);
}