.App {
    display: grid;
    width: 100%;
    height: 100vh;
    align-content: baseline;
}

.blackjack-game {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    background-color: green;
    height: calc(100vh - 100px)
}

.main {
    display: grid;
    width: 100%;
    align-content: center;
    justify-items: center;
    padding: 2rem 0;
}

.main label {
    font-size: bigger;
    font-weight: bold;
}

.main .players {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    width: 100%;
}

button {
    border-radius: 5px;
    background-color: white;
    padding: 0.5rem 1rem;
    box-shadow: none;
    outline: none;
    border: solid 1px #222
}

ul {
    display: grid;
    grid-auto-flow: column;
    gap: 0px;
    justify-content: center;
    transform-style: preserve-3d;
}

ul li.card {
    list-style-type: none;
    width: 100px;
    height: 180px;
    background-position: center center;
    background-size: 70px;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    background-clip: padding-box;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px 5px #22222250;
    transform: rotateX(50deg) rotateZ(20deg) rotateY(0deg);
    margin-left: -50px;
}

.cardsDeck {
    display: grid;
    place-content: center;
}

.cardsDeck ul {
    grid-auto-flow: row;
    margin-bottom: 250PX;
}

.facedownCard.card {
    margin-bottom: -223px;
    box-shadow: 0px 0px 1px 1px #222;
    background-image: url('../assets/flag.png');
    background-size: cover;
    border-width: 2px;
    border-color: white;
}

ul li h2 {
    line-height: 1;
    margin: 0;
}

li.card.spades {
    background-image: url("../assets/spade.svg");
}

li.card.clubs {
    background-image: url("../assets/clubs.svg");
}

li.card.diamonds {
    background-image: url("../assets/diamonds.svg");
}

li.card.hearts {
    background-image: url("../assets/heart.svg");
}

button {
    font-size: calc(10px + 2vmin);
}

.action-buttons {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.action-buttons label span {
    font-weight: bold;
    font-size: larger;
}

.action-buttons label input {
    width: 50px;
    padding: 0.25rem .5rem;
    font-size: larger;
    border-radius: 10px;
    border: none;
    outline: none;
}