.game-select {
    display: grid;
    place-content: center;
    background-color: #222;
}

.game-select .games {
    background-color: white;
    margin: 0;
    padding: 2rem 4rem;
}

.game-title {
    text-transform: capitalize;
}

.game-select li {
    margin: 0;
    list-style-type: none;
}